{% extends 'base.html' %}
{% load static %}
{% block title %}Profile Update{% endblock %}
{% block content %}
    <style>
        .profile-pic {
            max-width: 150px;
            max-height: 150px;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body">
                    <a class="btn btn-warning" href="{% url 'accounts:home' %}">&#8592; Back to HomePage</a>
                    <hr>
                    <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
                    {% if user.user2profile %}
                        <img class="profile-pic" src="{{ user.user2profile.photo.url }}" alt="Photo User">
                    {% else %}
                        <img class="profile-pic" src="{% static 'accounts/images/User1.svg' %}" alt="Photo User">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h3>Profile Update</h3>
                    <hr>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form2.as_p }}
                        {{ form1.as_p }}
                        <input class="btn btn-primary" type="submit" name="Create Profile">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
