{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}
    <br>
    <div class="container col-lg-6 offset-lg-3 border border-dark rounded">
        <h3>Password Reset</h3>
        <hr>
        <p>Please fill your email address that registered in ePica application.</p>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </form>
        <br>
    </div>
{% endblock %}