{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <br>
    <div class="container col-lg-6 offset-lg-3 border border-dark rounded">
        {% if form.error %}
        {% endif %}
        <h3>Change Password</h3>
        <hr>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Change Password</button>
        </form>
        <br>
    </div>
{% endblock %}