{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <style>
        #meeting_date {
            font-weight: bold;
        }

        #tabel_header {
            font-size: 13px;
        }

        #tabel_detail {
            font-size: 12px;
        }

    </style>
    <div class="row container-fluid">
        <div class="col">
            <h5>Input Data Meeting</h5>
            <form action="" method="post" id="meeting_form">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Submit">
                <a class="btn btn-danger" href="{% url 'accounts:home' %}" role="button">Cancel</a>
                <br>
            </form>
            <br>
        </div>
        <br>
        <div class="col border border-secondary rounded">
            <h5>Meeting List</h5>
            <table class="table table-lg table-striped">
                <thead class="thead-dark">
                <tr id="tabel_header">
                    <th>Tanggal</th>
                    <th>Forum</th>
                    <th>Title</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th></th>
                </tr>
                </thead>
                {% for meet in meets %}
                    <tr id="tabel_detail">
                        <td id="meeting_date">{{ meet.meeting_date|date:"l, d M Y" }}</td>
                        <td>{{ meet.meeting2forum.nama_forum }}</td>
                        <td>{{ meet.title }}</td>
                        <td>{{ meet.start_time }}</td>
                        <td>{{ meet.location }}</td>
                        <td><a class="btn btn-sm btn-primary btn-sm"
                               href="{% url 'pica:meeting_dashboard' meet.pk %}">Dashboard</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}