{% extends 'base.html' %}
{% load static %}
{% block title %}Create PICA{% endblock %}
{% block content %}
    <br>
    <style>
        #tabel_header {
            font-size: 13px;
        }

        #tabel_detail {
            font-size: 12px;
        }

        #nama_topik {
            font-weight: bold;
        }

        h4 {
            color: darkblue;
        }
    </style>
    <div class="row container-fluid">
        <div class="col">
            <h5>Create PICA</h5>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Submit">
                <a class="btn btn-danger" href="{% url 'pica:add_topik' meet %}" role="button">Cancel</a>
            </form>
        </div>
        <div class="col border border-secondary rounded">
            {#            <h5>List Outstanding Topik</h5>#}
            <br>
            <table class="table table-lg table-striped">
                <thead class="thead-dark">
                <tr id="tabel_header">
                    <th>Topik</th>
                    <th>Problem Owner</th>
                    <th>Div/Dept/Function</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                {% for topik in topiks %}
                    <tr id="tabel_detail">
                        <td id="nama_topik">{{ topik.nama_topik }}</td>
                        <td>{{ topik.topik2company.name }}</td>
                        <td>{{ topik.topik2departemen.name }}</td>
                        <td>{{ topik.due_date }}</td>
                        <td>{{ topik.status }}</td>
                        <td><a class="btn btn-sm btn-info btn-sm"
                               href="{% url 'pica:update_pica' topik.pk meet %}">Edit</a></td>
                        <td><a class="btn btn-sm btn-primary btn-sm"
                               href="{% url 'pica:add_pic' topik.id meet %}">PIC</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
{% endblock %}