{% extends 'base.html' %}
{% block title %}Create Function{% endblock %}
{% block content %}
    <br>
    <style>
        #tabel_header {
            font-size: 14px;
        }

        #tabel_detail {
            font-size: 12px;
        }

        #nama_departemen {
            font-weight: bold;
        }

        h4 {
            color: darkblue;
        }
    </style>
    <div class="row container-fluid">
        <div class="col">
            <br>
            <h4>Create Function</h4>
            <hr>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Create</button>
                <a href="{% url 'accounts:home' %}">
                    <button class="btn btn-danger" type="button">Exit</button>
                </a>
            </form>
        </div>
        <div class="col border border-secondary rounded">
            <h4>List of Function</h4>
            <table class="table table-lg table-striped">
                <thead class="thead-dark">
                <tr id="tabel_header">
                    <th>Nama Div/Dept</th>
                    <th>Dir In Charge</th>
                    <th>Div/Dept Head In Charge</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                {% for dept in depts %}
                    <tr id="tabel_detail">
                        <td id="nama_departemen">{{ dept.name }}</td>
                        <td>{{ dept.dir_in_charge }}</td>
                        <td>{{ dept.dept_head_in_charge }}</td>
                        <td><a class="btn btn-sm btn-primary btn-sm"
                               href="{% url 'pica:update_departemen'  dept.id %}">Edit</a></td>
                        <td><a class="btn btn-sm btn-danger btn-sm"
                               href="{% url 'pica:delete_departemen'  dept.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
{% endblock %}