{% extends 'base.html' %}
{% load static %}
{% block title %}Delete Forum{% endblock %}
{% block content %}
    <br><br>
    <div class="col-lg-4 offset-lg-4">
        <h4>Delete Forum</h4>
        <br>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure want to delete this data?</p>
            <br>
            <p>Nama forum : {{ forum.nama_forum }}</p>
            <p>Keterangan : {{ forum.keterangan }}</p>
            <p>Group Code : {{ forum.group_code }}</p>
            <br><br>
            <p>
                <button class="btn btn-danger" type="submit">Delete</button>
                <a href="{% url 'pica:create_forum' %}">
                    <button class="btn btn-primary" type="button">Cancel</button>
                </a></p>
        </form>
    </div>
{% endblock %}