{% extends 'base.html' %}
{% load static %}
{% block title %}Meeting Dashboard{% endblock %}
{% block content %}
    <style>
        #nama_topik {
            font-weight: bold;
        }

        #tabel_header {
            font-size: 13px;
        }

        #tabel_detail {
            font-size: 12px;
        }

    </style>
    <h4 class="text-center">Meeting Dashboard</h4>
    <div class="container-fluid">
        <h6 class="border border-primary text-center rounded">
            Hari/Tanggal : <b>{{ meeting.meeting_date|date:"l, d M Y" }}</b> | Time
            : <b>{{ meeting.start_time|time:"G:i A" }}</b> |
            Forum : <b>{{ meeting.meeting2forum.nama_forum }}</b> | Title : <b>{{ meeting.title }}</b> | Location
            : <b>{{ meeting.location }}</b> |
            Organizer : <b>{{ meeting.organizer }}</b> | Notulen : <b>{{ meeting.notulen }}</b>
        </h6>
    </div>
    <div class="row container-fluid">
        <div class="col">
            <h5 class="text-center">Peserta</h5>
            <table class="table table-lg table-striped">
                <thead class="thead-dark">
                <tr id="tabel_header">
                    <th>Nama</th>
                    <th>Company</th>
                    <th>Divisi/Departemen</th>
                    <th>Email</th>
                    <th><a class="btn btn-sm btn-primary btn-sm"
                           href="{% url 'pica:add_peserta' meeting.pk %}">Add Peserta</a></th>
                </tr>
                </thead>
                {% for pest in peserta %}
                    <tr id="tabel_detail">
                        <td id="peserta_name">{{ pest.name }}</td>
                        <td>{{ pest.peserta2company.name }}</td>
                        <td>{{ pest.peserta2departemen.name }}</td>
                        <td>{{ pest.email }}</td>
                        <td><a class="btn btn-sm btn-danger btn-sm"
                               href="{% url 'pica:hapus_peserta' meeting.pk pest.pk %}">Remove</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td><a class="btn btn-sm btn-warning btn-lg"
                           href="{% url 'pica:create_meeting' %}">Back to Meeting</a></td>
                    <td><a class="btn btn-sm btn-primary btn-lg"
                           href="{% url 'pica:meet_render_pdf' meeting.pk %}" target="_blank">Preview Minutes of
                        Meeting</a></td>
                    <td><a class="btn btn-sm btn-secondary btn-lg"
                           href="{% url 'pica:send_meet_render_pdf' meeting.pk %}" target="_blank">Send MoM via email</a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <br>
        <div class="col">
            {#            <h5 class="text-center">Topik</h5>#}
            <table class="table table-lg table-striped">
                <thead class="thead-dark">
                <tr id="tabel_header">
                    <th>Topik</th>
                    <th>Problem Owner</th>
                    <th>Departemen</th>
                    <th>Due Date</th>
                    <th>PIC</th>
                    <th>Status</th>
                    <th><a class="btn btn-sm btn-primary btn-lg"
                           href="{% url 'pica:add_topik' meeting.pk %}">Add Topik</a></th>
                </tr>
                </thead>
                {% for top in topik %}
                    <tr id="tabel_detail">
                        <td id="nama_topik"><a
                                href="{% url 'pica:update_pica_action' top.pk meeting.pk %}">{{ top.nama_topik }}</a>
                        </td>
                        <td>{{ top.topik2company.name }}</td>
                        <td>{{ top.topik2departemen.name }}</td>
                        <td>{{ top.due_date|date:"l, d M Y" }}</td>
                        <td>
                            {% for tp in top.topik2user.all %}
                                {{ tp.first_name }},
                            {% endfor %}
                        </td>
                        <td>{{ top.status }}</td>
                        <td><a class="btn btn-sm btn-danger btn-sm"
                               href="{% url 'pica:hapus_topik' meeting.pk top.pk %}">Remove</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
{% endblock %}