{% extends 'base_pdf.html' %}
{% load static %}
{% block title %}Meeting Summary{% endblock %}
{% block content %}
    <style>
        @page {
            size: A4 portrait;
            margin: 2cm;
        }
    </style>
    <div class="container">
        <h1 class="text-center">Meeting Summary</h1>
        <p>Title : <b>{{ meet.title }}</b></p>
        <p>Date : {{ meet.meeting_date|date:"l, d M Y" }} | Time : {{ meet.start_time|time:"H:i" }}</p>
        <p>Organizer : {{ meet.organizer }} | Notulen : {{ meet.notulen }}</p>
        <p>Peserta :
            {% for pes in all_peserta %}
                <b>{{ pes.name }},</b>
            {% endfor %}
        </p>
        <hr>
        {% for top in topik %}
            <p>Topik : <b>{{ top.nama_topik }} </b></p>
            <p>Due Date : {{ top.due_date|date:"l, d M Y" }}</p>
            <p>Function: {{ top.topik2departemen.name }}</p>
            <p><b>Problem :</b> {{ top.problem|safe }}</p>
            <p><b>Action :</b> {{ top.action|safe }}</p>
            <p>PIC :
                {% for k,v in person.items %}
                    {% if k == top.id %}
                        {% for j in v %}
                            {{ j }},
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </p>
            <hr>
        {% endfor %}
    </div>
{% endblock %}