{% extends 'base.html' %}
{% load static %}
{% block title %}Update PICA{% endblock %}
{% block content %}
    <br>
    <style>
        #tabel_header {
            font-size: 13px;
        }

        #tabel_detail {
            font-size: 12px;
        }
    </style>
    <div class="row container-fluid">
        <div class="col">
            <h3>Update PICA</h3>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-primary mx-2" type="submit">Submit</button>
                <a href="{% url 'pica:delete_topik' meet topik.pk %}"
                    class="btn btn-danger mx-2">Delete</a>
                <a href="{% url 'pica:create_pica' meet %}"
                    class="btn btn-secondary mx-2">Cancel</a>
            </form>
            <br>
        </div>
        <div class="col border border-secondary rounded">
            <h5>Activity</h5>
            <table class="table table-lg table-striped">
                <thead class="thead-dark">
                <tr id="tabel_header">
                    <th>Tanggal</th>
                    <th>User</th>
                    <th>Keterangan</th>
                    <th>Due Date</th>
                </tr>
                </thead>
                <tbody>
                {% for act in all_activity %}
                    <tr id="tabel_detail">
                        <td>{{ act.date_activity|date:"d M Y" }}</td>
                        <td>{{ act.activity2user.first_name }}</td>
                        <td>{{ act.keterangan }}</td>
                        <td>{{ act.due_date|date:"d M Y" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
    </div>
{% endblock %}